body {
    border: 10px solid gray; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    margin: auto;
    width: 500px;
    height: auto;
    letter-spacing: 1px
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 40px;
    border: 2px solid black;
    margin: auto;
    width: 300px;
}

